<!DOCTYPE html>
<html style="zoom:200%; max-width:500px; margin:auto">
    <head>
        <link rel="stylesheet" href='/static/style.css'/>
        <meta charset="UTF-8">
        <title>Natural language analysis</title>
    </head>

    <body style="text-align:center">
        <h1 style="text-align:center">Upload a .zip folder of .txt files for analysis</h1>
        <br>
            <form method="post" action="/" enctype="multipart/form-data">
                <input type="file" name="zip" id="zip">
                <br/><br/>
                <label for="num_common_words">Number of common words to find:</label> 
                <input type=number name="num_common_words" id="num_common_words" value="10">
                <br/><br/>
                <label for="num_sentences">Number of sentence examples to return:</label> 
                <input type=number name="num_sentences" id="num_sentences" value="3">
                <br/><br/>
                <input type="submit" value="Upload"></form>
                <br/><br/><hr/>
            </form>
        <h3 style="color:black">Results: </h3>
            <table>
                <tr>
                    <th style="color:black">Word(#)</th>
                    <th style="color:black">Documents</th>
                    <th style="color:black">Some sentences containing the word</th>
                </tr>
            </table>
        </h3>
    </body>
</html>